{% extends "base.njk" %}

{% block content %}
<div ng-controller="index">
    <h3 data-i18n="Blacknet Stakepool Status">Blacknet Stakepool Status</h3>
    <table id="index-table">
        <tr>
            <td data-i18n="Staking Balance">Staking Balance</td>
            <td width="70%">
                1000000.0000 BLN
            </td>
        </tr>
        <tr>
            <td data-i18n="Workders">Workders</td>
            <td width="70%">
                50
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found">Last Found</td>
            <td width="70%">
                12000
            </td>
        </tr>
        <tr>
            <td data-i18n="Last Found Time">Last Found Time</td>
            <td width="70%">
                19 minutes ago
            </td>
        </tr>
    </table>
    <h3 class="text-center">Start Mining</h3>
    <div class="start-mining" id="start-mining">
         <span class="strong">lease coins to: {{account}}</span>
    </div>
    
</div>
{% endblock %}