{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Payouts">Payouts</h3>
    <table id="block-table"  ng-controller="recent_transactions">

        <thead>
            <tr>
                <td class="narrow" data-i18n="Height">Height</td>
                <td class="narrow" data-i18n="Time">Time</td>
                <td class="narrow" data-i18n="Type">Type</td>
                <td class="narrow" data-i18n="Tx Hash">Tx Hash</td>
                <td data-i18n="Amount">Amount</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="tx in transactions">
                <td><a href="/block/${tx.data.blockHeight}">${tx.data.blockHeight}</a></td>
                <td>${tx.time | realstr}</td>
                <td>${tx.type | txType}</td>
                <td >
                    <a href="/tx/${tx.txid.toLowerCase()}">${tx.txid.toLowerCase()}</a> 
                </td>
                <td class="right"><span class="strong">${tx.data.amount | currency} BLN</span></td>
            </tr>
        </tbody>
    </table>

{# 
        <div class="tx">
            <div class="tx_header">
                {% if tx.txid %}
                <a href="/tx/{{tx.txid}}">{{tx.txid.toLowerCase()}}</a>
                {% endif %}
                <div class="right_info">

                    <span class="strong">{{tx.data.amount}} BLN</span>
                    {# <span>{{tx.timestr}}</span> 
                </div>
            </div>
            <div class="tx_body">
                <div class="from">
                    <a href="/account/{{tx.from}}">{{tx.from}}</a>
                </div>
                <div class="type">
                    <span class="tx_time">{{tx.timestr}}</span>
                    <span class="tx_type">{{tx.typeStr}}</span></div>
                <div class="to">
                    <a href="/account/{{tx.data.to}}">{{tx.data.to}}</a>
                </div>
            </div>
        </div> #}
{% endblock %}