{% extends "base.njk" %}

{% block content %}

<div ng-controller="recent_blocks">
    <h3 data-i18n="Recent Blocks">Recent Blocks</h3>
    <table id="block-table">
        <thead>
            <tr>
                <td class="narrow" data-i18n="height">Height</td>
                <td class="narrow" data-i18n="time">Time</td>
                <td class="narrow" data-i18n="txid">Block Hash</td>
                <td class="narrow" data-i18n="reward">Reward</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="tx in txns">
                <td><a target="_blank" href="https://www.blnscan.io/block/${tx.data.blockHeight}">${tx.data.blockHeight}</a></td>
                <td>${tx.time|realstr}</td>
                <td><a target="_blank" href="https://www.blnscan.io/block/${tx.data.blockHash}">${tx.data.blockHash.toLowerCase()}</a></td>
                <td><span class="overview_blockHash strong">${tx.data.amount| currency} BLN</span></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}